body {
  font-family : Montserrat;
}

img {
  width : 40%;
}

#logo {
  width : 20%;
}

div {
  background-color : green;
  color : white;
  padding : 10px;
  margin : 10px;
  border-radius : 10px;
}

section {
  display : grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media all and (max-width: 500px) {
  div {
    display : grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    }
  }
