body {
  font-family : Montserrat;
}

img {
  width : 40%;
}

#logo {
  width : 20%;
}

div {
  background-color : green;
  color : white;
  padding : 10px;
  margin : 10px;
  border-radius : 10px;
}

section {
  display : grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap : 10px;
}

@media all and (max-width: 499px) {
  section {
    display : grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    }
  }

@media all and (min-width : 500px) and (max-width: 800px) {
  section {
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
      }
    }
